<html>
  <head>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.5/p5.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.5/addons/p5.dom.min.js"></script>
    <script src="/static/sketch.js"></script>
  </head>
  <body>
    <h1>Meme Maker 5000</h1>
    <h2>{{ word }}</h1>
    <div id="meme-holder"></div>
    <br>
    <input id="url" value={{url}} type="hidden">
    <input id="top" type="text" placeholder="Top Row"/>
    <br><br>
    <input id="bottom" value="" type="text" placeholder="Bottom Row"/>
    <form action="/makememe" method="POST">
      <input name="title" type="text" placeholder="Meme Title"/>
      <input id="memehidden" name="meme" type="hidden" value=""/>
      <input value="submit" type="submit" value="" onclick="document.getElementById('memehidden').value = document.getElementById('defaultCanvas0').toDataURL(); console.log(document.getElementById('memehidden').value);"/>
    </form>
  </body>
</html>
