{% extends "layout.html" %} {% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/ekko-lightbox.min.css">
<script type="text/javascript" src="/static/js/ekko-lightbox.min.js"></script>
{% endblock head %}{% block title %}GALLERY{% endblock title %} {% block content %} {% if action == "user" %}
<center><h1>{{session['secret_cookie_key']}}'s Gallery</h12></center><br><br> {% endif %} {% if action == "all" %}
<h1 class="text-md-center display-3 mb-3"><b>Meme Gallery</b></h1> 

 <!-- {'memeid':<int>, creator':'...', 'create_ts':'...', 'base64str':'...', 'price':'...'} -->

{% endif %}

<div class="container bg-danger pt-1">
    <div class="row">
        {%- for meme in sampleMemes %}
        <div class="col-md-3 mb-3">
            <div class="hovereffect">
                <img class="img-fluid rounded" src={{meme[ 'base64str']}}>
                <div class="overlay">
                    <h2> <i>Creator: </i> <b>{{meme['creator']}}</b> | <i>Price: </i> <b>{{meme['memeprice']}} <span class="peppie">$</span></b></h2>
                    <a class="info" href={{meme[ 'base64str']}} data-toggle="lightbox" data-gallery="meme_gallery" data-title="<p class='lead mb-0 pb-0'><i>Created by:</i> <b>{{meme['creator']}}</b></p>" {% if action == 'all' and meme['creator'] != session['secret_cookie_key'] %} data-footer="<form action='/buy_meme' method='POST'><input type='hidden' name='memeid' value={{meme['memeid']}}><input type='hidden' name='secret_cookie_key' value={{session.secret_cookie_key}}><h3 class='text-danger pb-0 text-md-center'>Price: {{meme['memeprice']}} <span class='peppie'>$</span></h3><input class='btn bg-inverse btn-outline-secondary btn-block text-uppercase text-muted font-weight-bold pt-1 pb-1' type='submit' name='submit' value='Buy this Meme!'></form>" {% endif %}>Check it Out!</a>
                    <p class="text-danger mt-1">{{meme['create_ts']}}</p>
                </div>
            </div>
        </div>

        {% endfor -%}
    </div>
</div>

<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    })
</script>
{% endblock content%}
