{% extends "layout.html" %} {% block title %}The Meme Game{% endblock title %} {% block content %}

<div class="container">

    <div class="card mb-3">
        <div class="card-header" role="tab">
            <blockquote class="blockquote mb-0">
                <h3 class="mb-0">
	<a data-toggle="collapse" href="#collapseOne">
	  Top Memes on the Market
	</a>
                </h3></blockquote>
        </div>

        <div id="collapseOne" class="collapse in" role="tabpanel">
            <div class="card-block">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        <!-- SINGLE MEME LAYOUT (CLONED BY JS) -->
                        {%- for meme in memeList %}
                        <div class="card">
                            <img class="card-img-top img-fluid rounded" src={{meme[ 'base64str']}}>
                            <div class="card-block text-xs-center bg-faded">
                                <h5 class="card-title"><i>Creator: </i> <b>{{meme['creator']}}</b></h5>
                                <h5 class="card-title"><i>Price: </i> <b>{{meme['memeprice']}}</b> <span class="peppie">$</span></h5>
                                {% if meme['creator'] != session['secret_cookie_key'] %}
                                <form action="/buy_meme" method="POST">
                                    <input type="hidden" name="memeid" value={{meme[ 'memeid']}}>
                                    <input type="submit" class="btn btn-success btn-block" name="submit" value="Buy this meme!">
                                </form>
                                {% endif %}

                            </div>
                        </div>
                        {% endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header" role="tab">
            <blockquote class="blockquote mb-0">
                <h3 class="mb-0">
	<a data-toggle="collapse" href="#collapseOne">
	  Your Top Memes
	</a>
                </h3></blockquote>
        </div>

        <div id="collapseOne" class="collapse in" role="tabpanel">
            <div class="card-block">
                <div class="card-deck-wrapper">
                    <div class="card-deck">
                        {%- for meme in yourMemes %}
                        <div class="card">
                            <img class="card-img-top img-fluid rounded" src={{meme[ 'base64str']}}>
                            <div class="card-block text-xs-center bg-faded">
                                <h5 class="card-title">Price:  {{meme['memeprice']}} <span class="peppie">$</span></h5>
                            </div>
                        </div>
                        {% endfor -%}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock content %}