{% extends "layout.html" %} {% block title %} Meme Maker {% endblock title %} 

{% block head %}
<script language="javascript" type="text/javascript" src="/static/js/p5.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/p5.dom.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/js/sketch.js"></script>
<title>MEME 1</title>
{% endblock head %}



{% block content %}

{% if action_type == "make" %}


<table style="width:100%">
  <tr>
    <td style="width: 50%">

      This is the meme page

    </td>
  </tr>
  <tr>
    <td style="width: 50%">
      <div id="meme-holder"></div>
    </td>
    <td style="width: 50%">


      <input type="text" id="top" name="top">
      <input type="text" id="bottom" name="bottom">
      <input id="url" name="imgurl" type="hidden" value="{{image_url}}">
      <input id="memehidden" name="meme" type="hidden">
      <form action="/save_meme" method="POST">
        <input type="submit" value="save" onclick="document.getElementById('memehidden').value = document.getElementById('defaultCanvas0').toDataURL();">
      </form>
    </td>
  </tr>
</table>
<br>

{% endif %}

{% endblock %}
